@model AsitenciaUNC_attemp_2.Models.Evento
<!-- Views/EventosUser/Detalles.cshtml -->
<div class="container mx-auto p-6">
    <h1 class="text-3xl font-bold text-primary mb-4">@Model.Titulo</h1>
    <p><strong>Fecha:</strong> @Model.FechaInicio?.ToShortDateString()</p>
    <p><strong>Descripción:</strong> @Model.Descripcion</p>
    <form asp-action="CheckIn" method="post">
        <input type="hidden" name="id" value="@Model.Id" />
        <button type="submit" class="mt-4 bg-primary hover:bg-secondary text-white py-2 px-4 rounded">Hacer Check-In</button>
    </form>
</div>
